
.navbar {
 
  display: flex;
  width: 90%;
  margin-left: 43px;
  align-items: center;
  background-color:grey;
  color: white;
  border-bottom: 1px solid grey;
  
  position: relative; 
  transition: background-color 0.3s;
  position: fixed; 
  top: 0;
  z-index: 100;
 }
 
 li{
 
   list-style: none;
  float: right;
  margin-right: 20px;
  
 }
 
 .logo {
   
   font-size: 24px;
   font-weight: bold;
   font-size: 12px;
  
 }
 .nav-links {
   
   list-style: none;
   display: flex;
   gap: 20px;
 }
 .nav-links li a {
   
   text-decoration: none;
   color: white;
 }
 .nav-links li a:hover {
   
   text-decoration: underline;
 } 
 select{
  background-color: transparent;
  color: white;
  border: none;
}
